// our color scheme
$blue: #3c96f7;
$white: #ffffff;
$ltgrey: #c1c0c0;
$dkgrey: #7a797a;

.task {
  display: grid;
  grid-template-columns: 13px 1fr;
  gap: 0.8rem;

  input {
    align-self: center;
  }
}

.mat-icon {
  font-size: 14px;
  padding-left: 2px;
  color: $blue;
  width: 14px;
  cursor: grab;
}

textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background: #dedede;
}
