<div class="row action-row">
  <!-- TODO edit buttons to have icons and bind to a view variable to include the two non-current icons -->
  <!-- FIXME figure out why bootstrap styling on buttons won't work -->
  <button type="button" class="btn btn-primary">See Month View</button>
  <button>See Week View</button>
  <button>See Day View</button>
  <!-- TODO style this to be on the right side of the page -->
  <button>More Actions</button>
</div>

<div class="row planner-row">
  Insert The Current View's (weekly/day/monthly) component in here based on the
  button clicks and a bound variable
</div>

<div class="row item-option-row">
  Include carousel of items they can drag and drop into their day
</div>
