<div class="row action-row">
  <!-- TODO edit buttons to bind to a view variable to include the two non-current icons -->
  <button class="tooltip" mat-icon-button>
    <mat-icon>calendar_today</mat-icon>
    <span class="tooltiptext">Monthly View</span>
  </button>
  <button class="tooltip" mat-icon-button>
    <mat-icon>view_week</mat-icon>
    <span class="tooltiptext">Weekly View</span>
  </button>
  <button class="tooltip" mat-icon-button>
    <mat-icon>today</mat-icon>
    <span class="tooltiptext">Daily View</span>
  </button>
  <!-- TODO style this to be on the right side of the page -->
  <button class="tooltip" mat-icon-button>
    <mat-icon>menu</mat-icon>
    <span class="tooltiptext">More Options</span>
  </button>
</div>

<div class="row planner-row">
  Insert The Current View's (weekly/day/monthly) component in here based on the
  button clicks and a bound variable
  <app-weekly-view></app-weekly-view>
</div>

<div class="row item-option-row">
  Include carousel of items they can drag and drop into their day
</div>
