<div class="row action-row">
  <button
    class="tooltip"
    mat-icon-button
    (click)="switchMode('month')"
    *ngIf="mode !== 'month'"
  >
    <mat-icon>calendar_today</mat-icon>
    <span class="tooltiptext">Monthly View</span>
  </button>
  <button
    class="tooltip"
    mat-icon-button
    (click)="switchMode('week')"
    *ngIf="mode !== 'week'"
  >
    <mat-icon>view_week</mat-icon>
    <span class="tooltiptext">Weekly View</span>
  </button>
  <button
    class="tooltip"
    mat-icon-button
    (click)="switchMode('day')"
    *ngIf="mode !== 'day'"
  >
    <mat-icon>today</mat-icon>
    <span class="tooltiptext">Daily View</span>
  </button>
  <!-- TODO style this to be on the right side of the page -->
  <button class="tooltip" mat-icon-button>
    <mat-icon>menu</mat-icon>
    <span class="tooltiptext">More Options</span>
  </button>
</div>

<div class="row planner-row" [ngSwitch]="mode">
  <app-monthly-view *ngSwitchCase="'month'"></app-monthly-view>
  <app-weekly-view *ngSwitchCase="'week'"></app-weekly-view>
  <app-daily-view *ngSwitchCase="'day'"></app-daily-view>
</div>

<div class="row item-option-row">
  Include carousel of items they can drag and drop into their day
</div>
