<div class="row action-row">
  <button
    class="tooltip"
    mat-icon-button
    (click)="switchMode('month')"
    [disabled]="mode === 'month'"
  >
    <mat-icon>calendar_today</mat-icon>
    <span class="tooltiptext">Monthly View</span>
  </button>
  <button
    class="tooltip"
    mat-icon-button
    (click)="switchMode('week')"
    [disabled]="mode === 'week'"
  >
    <mat-icon>view_week</mat-icon>
    <span class="tooltiptext">Weekly View</span>
  </button>
  <button
    class="tooltip"
    mat-icon-button
    (click)="switchMode('day')"
    [disabled]="mode === 'day'"
  >
    <mat-icon>today</mat-icon>
    <span class="tooltiptext">Daily View</span>
  </button>
  <div>
    <button
      class="tooltip"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      #menuTrigger
    >
      <mat-icon>menu</mat-icon>
      <span class="tooltiptext">More Options</span>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="goRed()" routerLink="/plan" mat-menu-item>
        Red Text
      </button>
      <button (click)="goBlue()" routerLink="/plan" mat-menu-item>
        Blue Text
      </button>
      <button (click)="goGreen()" routerLink="/plan" mat-menu-item>
        Green Text
      </button>
      <button mat-menu-item (click)="openFontDialog()">Customize Fonts</button>
      <button (click)="onLogout()" mat-menu-item>Logout</button>
    </mat-menu>
  </div>
</div>

<div class="row planner-row" [ngSwitch]="mode">
  <app-monthly-view
    *ngSwitchCase="'month'"
    [focusDate]="focusDate"
    [chosenColor]="chosenColor"
    (sendFocusDate)="setFocusDate($event)"
    [allDayOptions]="allDayOptions"
    (onEditDay)="editDay($event)"
    [fontSize]="getFontSize()"
    [fontFamily]="fontFamily"
  ></app-monthly-view>
  <app-weekly-view
    *ngSwitchCase="'week'"
    [focusDate]="focusDate"
    [chosenColor]="chosenColor"
    (sendFocusDate)="setFocusDate($event)"
    [allDayOptions]="allDayOptions"
    (onEditDay)="editDay($event)"
    [fontSize]="getFontSize()"
    [fontFamily]="fontFamily"
  ></app-weekly-view>
  <app-daily-view
    *ngSwitchCase="'day'"
    [focusDate]="focusDate"
    (sendFocusDate)="setFocusDate($event)"
    [allDayOptions]="allDayOptions"
    [chosenColor]="chosenColor"
    [fontSize]="getFontSize()"
    [fontFamily]="fontFamily"
  ></app-daily-view>
</div>
