@import "../../../../styles.scss";

.planner-row {
  text-align: center;
  margin: 3% auto;
  padding: 0 20px;
}

.action-row {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20fr;

  div {
    text-align: right;
  }

  button {
    margin: auto 15px;

    &:disabled {
      border: 1px solid $dkgrey;
      background-color: $ltgrey;
      color: $blue;
    }

    &:hover {
      transform: scale(0.9);
      border: 1px solid $dkgrey;
    }
  }
}
