<h2 mat-dialog-title>
  Choose the font size for your tasks and metrics (in pixels).
</h2>
<mat-dialog-content>
  <mat-select [formControl]="fontSize" [placeholder]="fontSize.value">
    <mat-option [value]="8">8</mat-option>
    <mat-option [value]="10">10</mat-option>
    <mat-option [value]="12">12</mat-option>
    <mat-option [value]="14">14</mat-option>
    <mat-option [value]="16">16</mat-option>
    <mat-option [value]="18">18</mat-option>
    <mat-option [value]="20">20</mat-option>
  </mat-select>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
