<div>
  <div class="date-range">
    <h2>
      <!-- 15 will always be in the main month, not backfilled or forwardfilled days -->
      {{ monthDates[15] | date: "MMMM y" }}
    </h2>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button class="tooltip" (click)="lastMonth()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="tooltiptext">Previous Month</span>
      </button>
    </div>

    <div class="month-grid">
      <h4>Sunday</h4>
      <h4>Monday</h4>
      <h4>Tuesday</h4>
      <h4>Wednesday</h4>
      <h4>Thursday</h4>
      <h4>Friday</h4>
      <h4>Saturday</h4>
      <div *ngFor="let date of monthDates" class="day">
        <div class="date">{{ date?.getDate() }}</div>
        <br />
        Day Content
      </div>
    </div>
    <div class="nav-arrow">
      <button class="tooltip" (click)="nextMonth()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span class="tooltiptext">Following Month</span>
      </button>
    </div>
  </div>
</div>
