<div>
  <div class="date-range">
    <!-- FIXME switch to monthDates[0]? and monthDates[monthDates.length - 1]? -->
    fix this later after Royal implements date logic:
    <h2>
      {{ focusDate | date: "mediumDate" }} -
      {{ focusDate | date: "mediumDate" }}
    </h2>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button (click)="lastMonth()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>

    <div class="month-grid">
      <h4>Sunday</h4>
      <h4>Monday</h4>
      <h4>Tuesday</h4>
      <h4>Wednesday</h4>
      <h4>Thursday</h4>
      <h4>Friday</h4>
      <h4>Saturday</h4>
      <!-- TODO / FIXME change these days to be in an *ngFor and bind everything they need accordingly
        do this after date logic is done so that monthDates will be full -->
      <div class="day">
        <div class="date">{{ monthDates[0]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[1]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[2]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[3]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[4]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[5]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[6]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[7]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[8]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[9]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[10]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[11]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[12]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[13]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[14]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[15]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[16]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[17]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[18]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[19]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[20]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[21]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[22]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[23]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[24]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[25]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[26]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[27]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[28]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[29]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[30]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[31]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[32]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[33]?.getDate() }}</div>
        <br />
        Day Content
      </div>
      <div class="day">
        <div class="date">{{ monthDates[34]?.getDate() }}</div>
        <br />
        Day Content
      </div>
    </div>
    <div class="nav-arrow">
      <button (click)="nextMonth()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>
