<div>
  <div class="day-head">
    <h2 class="date-shown">
      {{ focusDate | date: "mediumDate" }}
    </h2>
    <button class="jumpButton" (click)="jumpToToday()">Jump to Today</button>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button class="tooltip" (click)="yesterday()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="tooltiptext">Previous Day</span>
      </button>
    </div>

    <div
      class="day"
      cdkDropList
      #dayList="cdkDropList"
      [cdkDropListData]="dayOptions"
      [cdkDropListConnectedTo]="[optionList]"
      (cdkDropListDropped)="dropNewOption($event)"
    >
      <div
        id="{{ i }}-slide"
        *ngFor="let item of dayOptions; index as i"
        class="draggable"
        cdkDrag
      >
        {{ createElement(item, i) }}
      </div>
    </div>
    <div class="nav-arrow">
      <button class="tooltip" (click)="tomorrow()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span class="tooltiptext">Following Day</span>
      </button>
    </div>
  </div>

  <div
    class="item-option-row"
    cdkDropList
    #optionList="cdkDropList"
    [cdkDropListData]="slideList"
    [cdkDropListConnectedTo]="[dayList]"
    (cdkDropListDropped)="dropExistingOption($event)"
  >
    Using this for now instead of carousel to simplify creation of draggable
    components: Drag options from below into the day to include them. To discard
    an option, drag it back into the options bank.
    <br /><br /><br />
    <div
      class="draggable"
      id="{{ i }}-slide"
      cdkDrag
      *ngFor="let slide of slideList; index as i"
    >
      {{ createElement(slide, i) }}
    </div>
  </div>

  <!-- <div class="item-option-row">
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="false"
      maxWidth="auto"
      color="accent"
      [proportion]="25"
      [slides]="5"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slideList; index as i"
        overlayColor="rgba(255,255,255,0)"
        [hideOverlay]="false"
      >
        <div class="draggable" id="{{ i }}-slide" cdkDrag>
          {{ createElement(slide, i) }}
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </div> -->
</div>
