// Important Colors
$blue: #3c96f7;
$white: #ffffff;
$ltgrey: #c1c0c0;
$dkgrey: #7a797a;


.rcorners2 {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 3px solid $ltgrey;
  padding: 20px;
  width: 200px;
  height: 150px;
  position: relative;
  top: 150px;
}

.centerd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logtext {
    text-align: center;
    color: $dkgrey;
}

.logbut {
    text-align: right;
    color: $blue;
    float: right;
}

.sutxt {
    text-align: center;
    color: $dkgrey;
    font-size: 12px;
}

.typebox {
    padding: 2px;
}
