// our color scheme
$blue: #3c96f7;
$white: #ffffff;
$ltgrey: #c1c0c0;
$dkgrey: #7a797a;

.date-range {
  margin: 1.5rem auto;
  color: $dkgrey;
}

.wrapping-grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;

  .nav-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .week-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 15px;
    gap: 10px;

    h4 {
      margin: 0 auto;
      color: $blue;
    }

    .day {
      border: 1px solid $dkgrey;
      min-height: 500px;
      color: $dkgrey;

      .date {
        background-color: $blue;
        color: $white;
        border-radius: 50%;
        width: 1.5vw;
        height: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
      }
    }
  }
}
