<div class="wrapping-grid">
  <div class="nav-arrow">
    <button (click)="lastWeek()" mat-icon-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>

  <div class="week-grid">
    <h4>Sunday</h4>
    <h4>Monday</h4>
    <h4>Tuesday</h4>
    <h4>Wednesday</h4>
    <h4>Thursday</h4>
    <h4>Friday</h4>
    <h4>Saturday</h4>
    <div class="day">
      <div class="date">{{ weekDates[0]?.getDate() }}</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">{{ weekDates[1]?.getDate() }}</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">{{ weekDates[2]?.getDate() }}</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">{{ weekDates[3]?.getDate() }}</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">{{ weekDates[4]?.getDate() }}</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">{{ weekDates[5]?.getDate() }}</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">{{ weekDates[6]?.getDate() }}</div>
      <br />
      Day Content
    </div>
  </div>
  <div class="nav-arrow">
    <button (click)="nextWeek()" mat-icon-button>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
