<div class="wrapping-grid">
  <!-- TODO add listeners to nav buttons -->
  <div class="nav-arrow">
    <button mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
  </div>

  <div class="week-grid">
    <h4>Sunday</h4>
    <h4>Monday</h4>
    <h4>Tuesday</h4>
    <h4>Wednesday</h4>
    <h4>Thursday</h4>
    <h4>Friday</h4>
    <h4>Saturday</h4>
    <div class="day">
      <div class="date">1</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">2</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">3</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">4</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">5</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">6</div>
      <br />
      Day Content
    </div>
    <div class="day">
      <div class="date">7</div>
      <br />
      Day Content
    </div>
  </div>
  <div class="nav-arrow">
    <button mat-icon-button><mat-icon>arrow_forward_ios</mat-icon></button>
  </div>
</div>
