<div>
  <div class="week-head">
    <h2 class="date-range" [class.red]="chosenColor === 'red'" [class.blue]="chosenColor === 'blue'" [class.green]="chosenColor === 'green'">
      {{ weekDates[0] | date: "mediumDate" }} -
      {{ weekDates[6] | date: "mediumDate" }}
    </h2>
    <button class="jumpButton" (click)="jumpToToday()">Jump to Today</button>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button class="tooltip" (click)="lastWeek()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="tooltiptext">Previous Week</span>
      </button>
    </div>

    <div class="week-grid">
      <div
        *ngFor="let date of weekDates; index as i"
        (click)="setFocusDate(date)"
        (dblclick)="onDoubleClick(date)"
      >
        <h4>{{ dayNames[i] }}</h4>
        <div
          [class.focused]="focusDate.toDateString() === date.toDateString()"
          class="day"
        >
          <div class="date">{{ date.getDate() }}</div>
          <br />
          Day Content
        </div>
      </div>
    </div>
    <div class="nav-arrow">
      <button class="tooltip" (click)="nextWeek()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span class="tooltiptext">Following Week</span>
      </button>
    </div>
  </div>
  <span>**Double click on any date to edit it in the daily view.**</span>
</div>
