<div class="draggable" cdkDrag>
  <app-tasks
    *ngIf="option.type === 'task'"
    [fontSize]="fontSize"
    [fontFamily]="fontFamily"
    [chosenColor]="chosenColor"
    [dragItem]="option"
    [taskId]="option.id"
    [dateString]="dateString"
    [uid]="uid"
  ></app-tasks>
  <app-metrics
    *ngIf="option.type === 'metric'"
    [fontSize]="fontSize"
    [fontFamily]="fontFamily"
    [chosenColor]="chosenColor"
    [dragItem]="option"
    [metricId]="option.id"
    [dateString]="dateString"
    [uid]="uid"
  ></app-metrics>
  <app-notes
    *ngIf="option.type === 'note'"
    [fontSize]="fontSize"
    [fontFamily]="fontFamily"
    [chosenColor]="chosenColor"
    [dragItem]="option"
    [noteId]="option.id"
    [dateString]="dateString"
    [uid]="uid"
  ></app-notes>
</div>
