@import "../../../../styles.scss";

.draggable {
  border: 1px solid $ltgrey;
  border-radius: 0.5rem;
  background-color: white;
  margin: 0.2rem auto;
  padding: 0.2rem;
  display: inline-block;
  text-align: left;

  width: 98%;
  // width: 212px;
  // height: 77px;
  // display: inline-grid;
  align-items: center;
  justify-content: center;
}

app-metrics,
app-tasks {
  display: block;
}

.cdk-drag {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background-color: $ltgrey;
  border: 3px dotted $dkgrey;
}
