<div>
  <div class="date-shown">
    <h2>
      {{ focusDate | date: "mediumDate" }}
    </h2>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button class="tooltip" (click)="yesterday()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="tooltiptext">Previous Day</span>
      </button>
    </div>

    <div class="day">Day Content</div>
    <div class="nav-arrow">
      <button class="tooltip" (click)="tomorrow()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span class="tooltiptext">Following Day</span>
      </button>
    </div>
  </div>
</div>
