<span class="metric" [ngStyle]="{ 'border-color': chosenColor }">
  <label for="metry-entry"
    ><input
      [value]="dragItem.value.label ? dragItem.value.label : ''"
      [formControl]="labelControl"
      type="text"
      class="metric-label"
      placeholder="metric"
      [style.fontSize]="fontSize"
      [style.fontFamily]="fontFamily"
      [ngStyle]="{ color: chosenColor }"
    />:</label
  >
  <mat-icon cdkDragHandle [ngStyle]="{ color: chosenColor }">pan_tool</mat-icon>
  <input
    [value]="dragItem.value.value ? dragItem.value.value : ''"
    [formControl]="valueControl"
    type="text"
    class="metric-entry"
    placeholder="value"
    [style.fontSize]="fontSize"
    [style.fontFamily]="fontFamily"
    [ngStyle]="{ color: chosenColor }"
  />
</span>
