<header><h1>Project Chronos</h1></header>

<router-outlet>
  <!-- this element will render correct component based on url route. 
    look into Angular routing for understanding that setup -->

  <!-- TODO when having to handle navigation logic, use Router imported into each component.
    inject that router into component's constructor. create a handler method listened for
    by the (click) event. have all the logic in that handler and call
    this.router.navigate(['/path']) -->
</router-outlet>
