<div>
  <div class="week-head">
    <h2
      class="date-range"
      [ngStyle]="{ color: chosenColor }"
      [style.fontFamily]="fontFamily"
    >
      {{ weekDates[0] | date: "mediumDate" }} -
      {{ weekDates[6] | date: "mediumDate" }}
    </h2>
    <button class="btn export-button tooltip" (click)="exportWeek()">
      Export
      <span class="tooltiptext"
        >Download an image that uses the current weekly layout as a blank canvas
        for planning a generic week.</span
      >
    </button>
    <button class="btn jump-button" (click)="jumpToToday()">
      Jump to Today
    </button>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button class="tooltip" (click)="lastWeek()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="tooltiptext">Previous Week</span>
      </button>
    </div>

    <div class="week-grid">
      <div
        *ngFor="let date of weekDates; index as i"
        (click)="setFocusDate(date)"
        (dblclick)="onDoubleClick(date)"
      >
        <h4 [ngStyle]="{ color: chosenColor }" [style.fontFamily]="fontFamily">
          {{ dayNames[i] }}
        </h4>
        <div
          [class.focused]="focusDate.toDateString() === date.toDateString()"
          [ngStyle]="{ 'border-color': chosenColor }"
          class="day"
        >
          <div
            class="date"
            [ngStyle]="{ 'background-color': chosenColor }"
            [style.fontFamily]="fontFamily"
          >
            {{ !hideDraggableContent ? date.getDate() : "" }}
          </div>
          <div
            class="day-content"
            *ngFor="let dateOption of allDayOptions[getDateString(date)]"
          >
            <hr />
            <span *ngIf="dateOption.type === 'metric'">
              <div
                *ngIf="hideDraggableContent"
                [class.tallMetric]="hideDraggableContent"
              ></div>
              <h4
                [style.fontSize]="fontSize"
                [style.color]="chosenColor"
                [style.fontFamily]="fontFamily"
              >
                {{
                  dateOption.value.label && !hideDraggableContent
                    ? dateOption.value.label
                    : ""
                }}
              </h4>
              <span
                [style.fontSize]="fontSize"
                [style.color]="chosenColor"
                [style.fontFamily]="fontFamily"
                >{{
                  dateOption.value.value && !hideDraggableContent
                    ? dateOption.value.value
                    : ""
                }}</span
              >
            </span>
            <span *ngIf="dateOption.type === 'task'">
              <mat-checkbox
                (click)="toggleTaskCheckbox(getDateString(date), dateOption)"
                [checked]="
                  !hideDraggableContent ? dateOption.value.isComplete : false
                "
              ></mat-checkbox>
              <span
                [class.tallTask]="hideDraggableContent"
                [style.fontSize]="fontSize"
                [style.color]="chosenColor"
                [style.fontFamily]="fontFamily"
                [ngStyle]="{
                  'text-decoration-line':
                    !hideDraggableContent && dateOption.value.isComplete
                      ? 'line-through'
                      : 'none'
                }"
                >{{
                  dateOption.value.value && !hideDraggableContent
                    ? dateOption.value.value
                    : ""
                }}</span
              >
            </span>
            <span
              *ngIf="dateOption.type === 'note'"
              [class.tallNote]="hideDraggableContent"
              [style.fontSize]="fontSize"
              [style.color]="chosenColor"
              [style.fontFamily]="fontFamily"
              >{{
                dateOption.value.value && !hideDraggableContent
                  ? dateOption.value.value
                  : ""
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-arrow">
      <button class="tooltip" (click)="nextWeek()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span class="tooltiptext">Following Week</span>
      </button>
    </div>
  </div>
  <span>**Double click on any date to edit it in the daily view.**</span>
</div>
