// Important Colors
$blue: #3c96f7;
$white: #ffffff;
$ltgrey: #c1c0c0;
$dkgrey: #7a797a;

.CreateAcctext {
  text-align: center;
  color: $blue;
  font-size: 40px;
  font-weight: bold;
}

.subox {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 3px solid $ltgrey;
  padding: 20px;
  width: 60%;
  height: 50%;
  position: relative;
  top: 20px;
}

.logtext {
  text-align: center;
  color: $dkgrey;
}

.typebox {
  padding: 2px;
  margin-left: auto

}

.litxt {
  text-align: center;
  color: $dkgrey;
  font-size: 12px;
  
}

.logbut {
  text-align: right;
  color: $blue;
  float: right;
}