<!-- FIXME why are we giving non-unique id's??? -->

<p class="CreateAcctext">Create an Account</p>

<!-- TODO Add pics and fix alignment, pretty up formatting-->
<div class="subox" [formGroup]="signupForm">
  <input
    type="email"
    id="fname"
    name="fname"
    placeholder="Email Address"
    class="typebox"
    formControlName="username"
    [class.invalid]="!signupForm.get('username')?.valid"
  />
  <br />
  <input
    type="email"
    id="fname"
    name="fname"
    placeholder="Confirm Email"
    class="typebox"
    formControlName="confirmUser"
    [class.invalid]="!signupForm.get('confirmUser')?.valid"
  />
  <br />
  <input
    type="password"
    id="fname"
    name="fname"
    placeholder="Password"
    class="typebox"
    formControlName="password"
    [class.invalid]="!signupForm.get('password')?.valid"
  />
  <br />
  <input
    type="password"
    id="fname"
    name="fname"
    placeholder="Confirm Password"
    class="typebox"
    formControlName="confirmPass"
    [class.invalid]="!signupForm.get('confirmPass')?.valid"
  />
  <img src="assets/default-avatar.png" alt="Default AddPic" />
  <br />
  <button
    [disabled]="!signupForm.valid"
    (click)="onSignup()"
    type="submit"
    class="logbut"
  >
    Sign up
  </button>
  <br />
  <p class="litxt">Already have an account? <a href="/login">Log In</a></p>
</div>
