<div>
  <div class="month-head">
    <h2 class="date-range" [class.red]="chosenColor === 'red'" [class.blue]="chosenColor === 'blue'" [class.green]="chosenColor === 'green'">
      <!-- 15 will always be in the main month, not backfilled or forwardfilled days -->
      {{ monthDates[15] | date: "MMMM y" }}
    </h2>
    <button class="jumpButton" (click)="jumpToToday()">Jump to Today</button>
  </div>
  <div class="wrapping-grid">
    <div class="nav-arrow">
      <button class="tooltip" (click)="lastMonth()" mat-icon-button>
        <mat-icon>arrow_back_ios</mat-icon>
        <span class="tooltiptext">Previous Month</span>
      </button>
    </div>

    <div class="month-grid" [class.red]="chosenColor === 'red'" [class.blue]="chosenColor === 'blue'" [class.green]="chosenColor === 'green'">
      <h4>Sunday</h4>
      <h4>Monday</h4>
      <h4>Tuesday</h4>
      <h4>Wednesday</h4>
      <h4>Thursday</h4>
      <h4>Friday</h4>
      <h4>Saturday</h4>
      <div
        *ngFor="let date of monthDates"
        (click)="setFocusDate(date)"
        (dblclick)="onDoubleClick(date)"
        [class.focused]="focusDate.toDateString() === date.toDateString()"
        class="day"
      >
        <div
          [class.currentMonth]="date?.getMonth() === monthDates[15]?.getMonth()"
          class="date"
        >
          {{ date?.getDate() }}
        </div>
        <span> <br />Day Content</span>
      </div>
    </div>
    <div class="nav-arrow">
      <button class="tooltip" (click)="nextMonth()" mat-icon-button>
        <mat-icon>arrow_forward_ios</mat-icon>
        <span class="tooltiptext">Following Month</span>
      </button>
    </div>
  </div>
  <span>**Double click on any date to edit it in the daily view.**</span>
</div>
