// our color scheme
$blue: #3c96f7;
$white: #ffffff;
$ltgrey: #c1c0c0;
$dkgrey: #7a797a;

.mat-icon {
  font-size: 14px;
  padding-left: 2px;
  color: $blue;
  width: 14px;
  cursor: grab;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background: #dedede;
}

label {
  border: none;
  background: none;
  padding: 0;

  input {
    background: #efefef;
  }
}
