/* You can add global styles to this file, and also import other style files */
// our color scheme
$blue: #3c96f7;
$white: #ffffff;
$ltgrey: #c1c0c0;
$dkgrey: #7a797a;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
